<header>
  <nav class="navbar custom-navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a href="/products">
        <span class="navbar-brand">E-Commerce</span>
      </a>
      <ul class="navbar-nav custom-nav-ul me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/cart/{{cartID}}">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat">Contacto</a>
        </li>
        {{#if addProducts}}
          <li class="nav-item">
            <a class="nav-link" href="/realtimeproducts">Agregar productos</a>
          </li>
        {{/if}}
      </ul>
      <div class="me-auto mt-2">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search Product"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div>
        {{#if logged}}
          <a href="/login">
            <button class="btn btn-outline-success login-button">Iniciar Sesion</button>
          </a>
        {{else}}
          <div class="me-auto mt-2 user-info">{{! contact info }}
            <span class="navbar-brand">Hola!
              {{first_name}}
              {{last_name}}
              tu rol es:
              {{role}}</span>
          </div>
          <a href="/logout">
            <button
              class="btn btn-outline-success logout-button"
              id="logout"
            >Cerrar Sesion</button>
          </a>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="card mb-3 card-position product" style="max-width: 700px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{product.thumbnail}}"
          class="img-fluid rounded-start img-size"
          alt="{{product.category}}"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text" id="productID">ID: {{product.PID}}</p>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">Disp. {{product.stock}}</p>
          <p class="card-text"><small class="text-body-secondary">Precio:
              {{product.price}}</small></p>
          <input
            type="number"
            name="quantity"
            id="quantity"
            value="1"
            min="1"
            max="{{product.stock}}"
          />
          <button class="add-button" id="addButton" value="{{cartID}}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart-plus"
              viewBox="0 0 16 16"
            >
              <path
                d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"
              />
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
              />
            </svg></button>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="/static/js/{{script}}"></script>